.container {
  @include flex-direction(column);
  @include flex-align(center, flex-start);

  .imageContainer {
    @include flex-align(center, center);
    width: 18rem;
    height: 12rem;

    @include min(tablet) {
      margin-top: 2.4rem;
    }
  }

  .textContainer {
    margin-top: 2rem;
    text-align: center;

    @include min(tablet) {
      margin-top: 3.3rem;
    }

    p {
      margin: 0.8rem 2rem 1.7rem 2rem;
      font-size: var(--body-style-three);
      line-height: var(--body-style-three-line-height-size);
    }
  }
}
