:root {
  --color-1: #3d3f48;
  --color-2: #4d4d4d;
  --color-3: #4a4a4a;
  --color-4: #524b4b;
  --color-5: #808080;
  --color-6: #9ca0ae;
  --color-7: #f7eeee;
  --color-8: #f3f3f3;
  --color-9: #f7f7f7;
  --color-10: #0091ff;
  --color-11: #eb4548;
  --color-12: #fff;
  --color-13: #000;
  --color-14: #75fa54;
  --color-15: #f7b500;
}
