:root {
  // TODO: enter color variables here
  --color-1: #00b9cb;
  --color-2: #99e3ea;
  --color-3: #000;
  --color-4: #262626;
  --color-5: #ffcf02;
  --color-white: #fff;

  --color-10: #808080;
  --color-11: #979797;
  --color-12: #c0c0c0;
  --color-13: #d0d0d0;
  --color-14: #d8d8d8;
  --color-15: #dddddd;
  --color-16: #ededed;
  --color-17: #e2e2e2;
  --color-18: #e5e5e5;
  --color-19: #e0e0e0;
  --color-20: #efefef;
  --color-21: #e8e8e6;
}
