:root {
  // Colors - site
  --primary-color: var(--color-1);
  --secondary-color: var(--color-2);
  --tertiary-color: var(--color-3);
  --fourth-color: var(--color-white);
  --fifth-color: var(--color-4);
  --sixth-color: var(--color-5);
  --gray: var(--color-22);

  // Font
  --main-font: 'Calibre';

  // Body Background Color
  --body-background-color: var(--color-8);

  // Spacing and sizes - site
  --border-radius: 0.6rem;

  // Font weights

  --semi-bold: 600;
  --medium: 500;
  --regular: 400;

  --h1-size: 6rem;
  --h2-size: 6rem;
  --h3-size: 4.8rem;
  --h4-size: 3.2rem;
  --h5-size: 2.5rem;
  --h6-size: 2rem;
  --body-style-one: 3.2rem;
  --body-style-two: 2.6rem;
  --body-style-three: 2.2rem;
  --body-style-four: 1.8rem;
  --body-style-five: 1.5rem;

  --h1-line-height-size: 6rem;
  --h2-line-height-size: 6rem;
  --h3-line-height-size: 4.8rem;
  --h4-line-height-size: 4rem;
  --h5-line-height-size: 3rem;
  --h6-line-height-size: 2rem;

  --body-style-one-line-height-size: 4rem;
  --body-style-two-line-height-size: 3rem;
  --body-style-three-line-height-size: 3rem;
  --body-style-four-line-height-size: 2rem;
  --body-style-five-line-height-size: 1.5rem;

  --h1-font-weight: var(--semi-bold);
  --h2-font-weight: var(--semi-bold);
  --h3-font-weight: var(--semi-bold);
  --h4-font-weight: var(--semi-bold);
  --h5-font-weight: var(--semi-bold);
  --h6-font-weight: var(--semi-bold);

  --body-style-one-font-weight: var(--regular);
  --body-style-two-font-weight: var(--regular);
  --body-style-three-font-weight: var(--regular);
  --body-style-four-font-weight: var(--regular);
  --body-style-five-font-weight: var(--regular);

  --h1-letter-spacing: -0.1rem;
  --h2-letter-spacing: -0.1rem;
  --h3-letter-spacing: -0.075rem;
  --h4-letter-spacing: -0.05rem;
  --h5-letter-spacing: -0.025rem;
  --h6-letter-spacing: 0;

  --body-style-one-letter-spacing: -0.05rem;
  --body-style-two-letter-spacing: 0;
  --body-style-three-letter-spacing: 0;
  --body-style-four-letter-spacing: 0;
  --body-style-five-letter-spacing: 0;

  --text-size: 1.6rem;
  --desc-size: 0.9rem;

  // TODO Careful with mobile sizes, we will have new styles for these
  --h1-mobile-size: calc(var(--h1-size) * 0.66667);
  --h2-mobile-size: calc(var(--h2-size) * 0.66667);
  --h3-mobile-size: calc(var(--h3-size) * 0.66667);
  --h4-mobile-size: calc(var(--h4-size) * 0.66667);
  --h5-mobile-size: calc(var(--h5-size) * 0.66667);
  --h6-mobile-size: calc(var(--h6-size) * 0.66667);

  --body-style-one-mobile-size: calc(var(--body-style-one) * 0.66667);
  --body-style-two-mobile-size: calc(var(--body-style-two) * 0.66667);
  --body-style-three-mobile-size: calc(var(--body-style-three) * 0.66667);
  --body-style-four-mobile-size: calc(var(--body-style-four) * 0.66667);
  --body-style-five-mobile-size: calc(var(--body-style-five) * 0.66667);

  --h1-mobile-line-height-size: calc(var(--h1-line-height-size) * 0.66667);
  --h2-mobile-line-height-size: calc(var(--h2-line-height-size) * 0.66667);
  --h3-mobile-line-height-size: calc(var(--h3-line-height-size) * 0.66667);
  --h4-mobile-line-height-size: calc(var(--h4-line-height-size) * 0.66667);
  --h5-mobile-line-height-size: calc(var(--h5-line-height-size) * 0.66667);
  --h6-mobile-line-height-size: calc(var(--h6-line-height-size) * 0.66667);

  --body-style-one-mobile-line-height: calc(var(--body-style-one-line-height-size) * 0.66667);
  --body-style-two-mobile-line-height: calc(var(--body-style-two-line-height-size) * 0.66667);
  --body-style-three-mobile-line-height: calc(var(--body-style-three-line-height-size) * 0.66667);
  --body-style-four-mobile-line-height: calc(var(--body-style-four-line-height-size) * 0.66667);
  --body-style-five-mobile-line-height: calc(var(--body-style-five-line-height-size) * 0.66667);

  // Z-index
  --modal-index: 300;
  --navigation-index: 200;
  --scroll-to-top-index: 100;
  --cookie-consent-index: 200;
  --search-form-index: 150;
  --above-search-form-index: 151;

  // Components
  --nav-background-color: var(--color-4);
  --nav-icon-color: var(--color-19);
  --modal-overlay-color: rgba(0, 0, 0, 0.6);
  --modal-background-color: white;
  --scroll-to-top-bottom-offset: 2rem;
  --card-box-shadow: 0 0.1rem 0.5rem 0.4rem rgba(0, 0, 0, 0.05);

  // Cards Styling comes here
  --border-radius-one: 0.6rem;
  --border-radius-two: 1rem;
  --border-color-one: 0.1rem solid var(--color-7);
}
