.pageFooter {
  padding: 4rem 0 2rem;

  @include min(tablet) {
    margin-top: 6.9rem;
  }
}

.footerTop {
  @include flex-align(flex-start, flex-start);
}

.leftFooterItems {
  width: 33.3333%;

  p {
    font-size: 2.2rem;
    line-height: 3rem;
    padding-right: 13.5rem;
    margin-top: 2.5rem;
  }
}

.footerSitemap {
  flex-grow: 1;
  @include flex-direction(column);
  justify-content: space-between;

  @include min(tablet) {
    flex-direction: row;
  }

  .footerLinksWrapper {
    width: 16.5rem;
    @include flex-direction(column);
    .parentPath {
      font-weight: var(--medium);
      color: var(--tertiary-color);
      font-size: 2rem;
      line-height: 3rem;
      margin-bottom: 2.4rem;
    }

    a {
      font-weight: var(--regular);
      text-decoration: none;
      color: var(--tertiary-color);
      font-size: 1.8rem;
      line-height: 3rem;

      &.hasLine {
        @include flex-direction(column);
        &:after {
          content: '';
          display: inline-block;
          width: 2rem;
          height: 0.2rem;
          margin: 1rem 0 1.2rem;
          background-color: #efefef;
        }
      }

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

.downloadApp {
  margin-top: 2rem;
  a {
    @include flex-direction(row);
    align-items: center;
    width: 100%;
    height: 4.8rem;
    border: 2px solid #f7f7f7;
    margin-bottom: 1.2rem;
    i {
      width: 2rem;
      height: 2.4rem;
      margin-right: 1rem;
      background-color: #ccc;
    }
    p {
      font-size: 1.5rem;
      line-height: 2.4rem;
      font-weight: normal;
      color: var(--fifth-color);
    }
  }
}

.footerBottom {
  font-size: 1.8rem;
  line-height: 3rem;
  color: var(--tertiary-color);
  margin-top: 10.4rem;
}
