.roundImagesContainer {
  display: grid;
  row-gap: 2rem;

  @include max(mobile) {
    row-gap: 5rem;
  }

  @include min(tablet) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
    row-gap: 2rem;
  }

  @include min(desktop) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4.5rem;
    row-gap: 0;
  }
}
