.behindMask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 54rem;
  background-color: #f7f7f7;
  border-bottom: 2px solid #efefef;
  z-index: -1;
}

.packageWrapper {
  @include flex-direction(column);
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5.7rem;

  @include min(tablet) {
    flex-direction: row;
  }
}

.priceHeader {
  @include flex-align(center, space-between);
  @include flex-direction(column);
  position: relative;
  text-align: left;
  padding-bottom: 3.1rem;

  @include min(tablet) {
    flex-direction: row;
  }

  @include min(desktop) {
    h1 {
      padding-right: 2rem;
    }
  }

  .rightSide {
    @include max(tablet) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 2rem;
    }

    .buttonContainer {
      // margin-top: 1rem;
      padding: 0.5rem;
      display: flex;
      height: 5rem;
      border-radius: 2.5rem;
      width: 25.2rem;
      background-color: rgba(0, 185, 203, 0.1);

      button {
        &.activeStyle {
          border: 2px solid var(--primary-color);
          background-color: #fff;
          color: #000;
        }

        @include max(tablet) {
          height: 4rem;
          font-size: 2rem;
          width: 12.6rem;
        }
      }

      button:first-child {
        margin-right: 1rem;

        @include min(tablet) {
          margin: 0;
        }
      }
    }
  }
}

p.discount {
  margin-top: 1.1rem;
  min-height: 2rem;
  color: var(--primary-color);
  @include absolute(right 0 top 8.5rem);
  font-weight: 500;
  text-align: center;
  margin-left: auto;
  font-size: 2rem;
  line-height: 2rem;

  @include max(tablet) {
    width: 25.2rem;
    margin: 1.1rem auto 0;
    text-align: right;
    padding-right: 2.2rem;
  }
  @include min(laptop) {
    margin-right: 1.5rem;
    width: 16rem;
    text-align: right;
  }
}

.featuresBanner {
  position: relative;

  button {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4.8rem;
    width: 18rem;
    transform: translate(-50%, -50%);
    color: var(--tertiary-color);
    box-sizing: border-box;
    border: 2px solid #efefef;
    border-radius: 0.4rem;
    background-color: #ffffff;

    @include min(tablet) {
      padding: 0 3rem;
      height: 7.4rem;
      font-size: 3.2rem;
      min-width: 30rem;
      width: unset;
    }

    &:hover {
      background-color: var(--color-20);
    }
  }
}
