.behindMask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 54rem;
  background-color: #f7f7f7;
  border-bottom: 2px solid #efefef;
  z-index: -1;
}

.packageWrapper {
  @include flex-direction(column);
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5.7rem;

  @include min(tablet) {
    flex-direction: row;
  }
}

.priceHeader {
  @include flex-align(center, space-between);
  @include flex-direction(column);
  text-align: center;

  @include min(tablet) {
    flex-direction: row;
  }

  .rightSide {
    @include max(tablet) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .buttonContainer {
      // margin-top: 1rem;
      padding: 0.5rem;
      display: flex;
      height: 5rem;
      border-radius: 2.5rem;
      width: 25.2rem;
      background-color: rgba(0, 185, 203, 0.1);

      button {
        &.activeStyle {
          border: 2px solid var(--primary-color);
          background-color: #fff;
          color: #000;
        }
      }
    }
  }
}

p.discount {
  margin-top: 1.1rem;
  min-height: 2rem;
  color: var(--primary-color);
  font-weight: 500;
  width: 10rem;
  text-align: center;
  margin-left: auto;
  font-size: 2rem;
  line-height: 2rem;
  @include min(tablet) {
    margin-right: 1.5rem;
  }
}

.featuresBanner {
  position: relative;

  button {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 7.4rem;
    width: 30rem;
    transform: translate(-50%, -50%);
    color: var(--tertiary-color);
    box-sizing: border-box;
    border: 2px solid #efefef;
    border-radius: 0.4rem;
    background-color: #ffffff;
  }
}
