.container {
  @include flex-direction(column);

  .firstBox {
    margin: 0 0 1rem 1rem;
  }

  @include min(tablet) {
    flex-direction: row;

    .firstBox {
      max-width: 34rem;
      margin: 0;

      .imageContainer {
        width: 10.1rem;
        height: 7.8rem;
        margin-bottom: 4rem;
      }
    }
  }

  &.swap {
    @include min(tablet) {
      flex-direction: row-reverse;

      .firstBox {
        width: 26.7rem;
        margin-left: 7.3rem;
      }
    }
  }

  .secondBox {
    width: 100%;

    ol,
    ul {
      // padding-left: 2.5rem;
      margin: 2rem 0;
      li {
        font-size: var(--body-style-three);
        font-weight: var(--body-style-three-font-weight);
        line-height: var(--body-style-three-line-height-size);
        letter-spacing: var(--body-style-three-letter-spacing);
        margin-bottom: 1rem;
      }
    }

    ul {
      padding-left: 0.5rem;
      li {
        @include flex-align(flex-start, flex-start);
        flex-direction: row;
        &::before {
          content: '\2022';
          width: 1rem;
          line-height: 3rem;
          display: inline-flex;
          margin-right: 1rem;
          font-size: 1.5rem;
          align-items: center;
          justify-content: center;
        }
      }
    }

    ol {
      list-style: decimal;
      padding-left: 2.5rem;
    }

    p {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
