.container {
  @include flex-direction(column);

  .firstBox {
    margin: 0 0 1rem 1rem;
  }

  @include min(tablet) {
    flex-direction: row;

    .firstBox {
      max-width: 34rem;
      margin: 0;

      .imageContainer {
        width: 10.1rem;
        height: 7.8rem;
        margin-bottom: 4rem;
      }
    }
  }

  &.swap {
    @include min(tablet) {
      flex-direction: row-reverse;

      .firstBox {
        width: 26.7rem;
        margin-left: 7.3rem;
      }
    }
  }

  .secondBox {
    width: 100%;
    .triggerItemWrap {
      cursor: pointer;
      @include flex-direction(row);
      align-items: center;
      width: 100%;

      h5 {
        letter-spacing: -0.05rem;
        width: 100%;

        margin: 0 2rem 0 1rem;

        @include min(tablet) {
          margin: 2.3rem 5.6rem 2.3rem 1.8rem;
        }
      }

      > i {
        font-size: 1.6rem;
        width: 2.4rem;
        height: 2.4rem;
        transition: ease all 0.15s;
      }
    }

    p {
      margin: 2rem 1rem;

      @include min(tablet) {
        margin: 0 7.2rem 3.2rem 5.8rem;
      }
    }
  }
}

.triggerItemWrap {
  cursor: pointer;
  @include flex-direction(row);
  align-items: center;
  width: 100%;

  h5 {
    letter-spacing: -0.05rem;
    width: 100%;
    transition: ease all 0.15s;
    margin: 0 2rem 0 1rem;

    @include min(tablet) {
      margin: 2.3rem 2rem 2.3rem 1.8rem;
    }

    &:hover {
      color: #262626;
    }
  }

  > i {
    font-size: 1.6rem;
    min-width: 2.4rem;
    height: 2.4rem;
    margin-right: 1.2rem;
    transition: ease all 0.15s;
    @include flex-align(center, center);
  }
}
