.container {
  width: 100%;
  text-align: center;
  padding: 0 1rem;
  margin-bottom: 1rem;

  @include min(tablet) {
    padding: 0;
    margin: 0;
  }

  p {
    font-size: var(--body-style-one-mobile-size);
    line-height: var(--body-style-one-mobile-line-height);
    letter-spacing: normal;

    @include min(tablet) {
      font-size: var(--body-style-one);
      font-weight: var(--body-style-one-font-weight);
      letter-spacing: -0.05rem;
      line-height: var(--body-style-one-line-height-size);
    }
  }

  &.leftAligned {
    text-align: left;

    @include min(tablet) {
      margin-bottom: 4rem;
    }

    .descriptionWrapper {
      text-align: left;
    }
  }

  .titleWrapper {
    margin: auto;
    margin-bottom: 1.6rem;
  }

  .descriptionWrapper {
    margin: auto;
    font-weight: var(--regular);
    text-align: left;

    @include min(tablet) {
      text-align: center;
    }
  }
}
