.container {
  width: 100%;
  text-align: center;
  margin-bottom: 8rem;

  &.leftAligned {
    text-align: left;
    margin-bottom: 4rem;

    .descriptionWrapper {
      text-align: left;
    }
  }

  .titleWrapper {
    padding-bottom: 1.6rem;
  }

  .descriptionWrapper {
    color: var(--fifth-color);
    letter-spacing: -0.5px;
    text-align: center;
    font-weight: var(--regular);
  }
}
