.titleContainer {
  display: flex;

  @include min(tablet) {
    margin-bottom: 3.5rem;
  }
}

.oldWayTitle {
  color: #e05656;
  font-size: 38px;
  letter-spacing: 0;
  font-family: 'Spicy Pumpkin';
  width: 50%;
  @include absolute(left 3.1rem top -13.5rem);
  width: 100%;

  &::after {
    content: '';
    @include absolute(left 1.9rem top 6rem);
    background-image: url('@images/red-indicator-arrow@2x.png');
    background-size: contain;
    background-position: center;
    width: 2rem;
    height: 6.5rem;
  }

  @include min(tablet) {
    line-height: 5rem;
  }

  @include max(tablet) {
    padding-left: 2rem;
    @include absolute(top -10rem);

    &::after {
      left: 3rem;
    }
  }
}

.newWayTitle {
  color: #00b9cb;
  letter-spacing: 0;
  font-size: 38px;
  font-family: 'Spicy Pumpkin';
  width: 50%;
  @include absolute(top -13.5rem left 4.2rem);
  width: 100%;

  &::after {
    content: '';
    @include absolute(left 1.9rem top 6rem);
    background-image: url('@images/green-indicator-arrow@2x.png');
    background-size: contain;
    background-position: center;
    width: 2rem;
    height: 6.5rem;
  }

  @include min(tablet) {
    line-height: 5rem;
  }

  @include max(tablet) {
    padding-left: 2rem;
    @include absolute(top -10rem);

    &::after {
      left: 3rem;
    }
  }
}

.container {
  @include flex-align(flex-start, space-between);
  flex-direction: column;
  margin-top: 10rem;

  @include max(tablet) {
    .oldWayTitle,
    .newWayTitle {
      font-size: 3rem;
      line-height: 3rem;
      padding-left: 0;
      left: 1rem;
      top: -7rem;

      &::after {
        left: 2rem;
        top: 4rem;
        height: 5rem;
        background-repeat: no-repeat;
      }
    }
  }

  @include min(tablet) {
    flex-direction: row;
    border: 2px solid #efefef;
    background: #fff;
    border-radius: 20px;
  }

  @include min(laptop) {
    padding: 5rem;
  }

  .oldListStyle,
  .newListStyle {
    position: relative;

    @include max(mobile) {
      border: 2px solid #efefef;
      background: #fff;
      border-radius: 20px;
    }
    > div {
      border-bottom: 2px solid #efefef;
      align-items: center;
      padding: 3rem 2rem;
      margin-bottom: 0;

      @include min(tablet) {
        height: 12rem;
        padding: 1rem;
      }

      &:last-child {
        border: none;
      }

      h5 {
        font-size: var(--h6-size);
        line-height: var(--h6-line-height-size);
        font-weight: var(--medium);
      }
    }
  }

  .oldListStyle {
    @include min(tablet) {
      width: 50%;
      border-right: 1px solid #efefef;
      > div {
        padding: 3rem 4rem 3rem 3.1rem;
      }
    }

    @include max(mobile) {
      margin-bottom: 10rem;
    }
  }

  .newListStyle {
    @include min(tablet) {
      border-left: 1px solid #efefef;
      width: 50%;
      > div {
        padding: 3rem 3.1rem 3rem 4rem;
      }
    }
  }
}
