.titleContainer {
  display: flex;

  @include min(tablet) {
    margin-bottom: 3.5rem;
  }

  .oldWayTitle {
    color: #e05656;
    font-size: 38px;
    letter-spacing: 0;

    @include min(tablet) {
      margin-right: 13.4rem;
      line-height: 74px;
    }
  }

  .newWayTitle {
    color: #00b9cb;
    letter-spacing: 0;
    font-size: 38px;

    @include min(tablet) {
      line-height: 74px;
    }
  }
}

.container {
  @include flex-align(flex-start, space-between);
  flex-direction: column;
  border: 2px solid #efefef;
  border-radius: 20px;

  @include min(tablet) {
    padding: 5rem;
    flex-direction: row;
  }

  .oldListStyle,
  .newListStyle {
    > div {
      border-bottom: 2px solid #efefef;
      align-items: center;
      padding: 1rem;
      margin-bottom: 0;

      @include min(tablet) {
        height: 12rem;
        padding: 3rem 4rem;
      }

      &:last-child {
        border: none;
      }

      h5 {
        font-size: var(--h6-size);
        line-height: var(--h6-line-height-size);
      }
    }
  }

  .oldListStyle {
    @include min(tablet) {
      width: 50%;
      border-right: 1px solid #efefef;
    }
  }

  .newListStyle {
    @include min(tablet) {
      border-left: 1px solid #efefef;
      width: 50%;
    }
  }
}
