.titleContainer {
  display: flex;

  @include min(tablet) {
    margin-bottom: 3.5rem;
  }

  .oldWayTitle {
    color: #e05656;
    font-size: 38px;
    letter-spacing: 0;
    font-family: 'Spicy Pumpkin';
    width: 50%;
    padding-left: 8rem;
    position: relative;

    &::after {
      content: '';
      @include absolute(left 10rem top 6rem);
      background-image: url('@images/red-indicator-arrow@2x.png');
      background-size: contain;
      background-position: center;
      width: 2rem;
      height: 6.5rem;
    }

    @include min(tablet) {
      line-height: 5rem;
    }
  }

  .newWayTitle {
    color: #00b9cb;
    letter-spacing: 0;
    font-size: 38px;
    font-family: 'Spicy Pumpkin';
    width: 50%;
    padding-left: 4.2rem;
    position: relative;

    &::after {
      content: '';
      @include absolute(left 6rem top 6rem);
      background-image: url('@images/green-indicator-arrow@2x.png');
      background-size: contain;
      background-position: center;
      width: 2rem;
      height: 6.5rem;
    }

    @include min(tablet) {
      line-height: 5rem;
    }
  }
}

.container {
  @include flex-align(flex-start, space-between);
  flex-direction: column;
  border: 2px solid #efefef;
  border-radius: 20px;

  @include min(tablet) {
    flex-direction: row;
  }

  @include min(laptop) {
    padding: 5rem;
  }

  .oldListStyle,
  .newListStyle {
    > div {
      border-bottom: 2px solid #efefef;
      align-items: center;
      padding: 1rem;
      margin-bottom: 0;

      @include min(tablet) {
        height: 12rem;
      }

      &:last-child {
        border: none;
      }

      h5 {
        font-size: var(--h6-size);
        line-height: var(--h6-line-height-size);
        font-weight: var(--medium);
      }
    }
  }

  .oldListStyle {
    @include min(tablet) {
      width: 50%;
      border-right: 1px solid #efefef;
      > div {
        padding: 3rem 4rem 3rem 3.1rem;
      }
    }
  }

  .newListStyle {
    @include min(tablet) {
      border-left: 1px solid #efefef;
      width: 50%;
      > div {
        padding: 3rem 3.1rem 3rem 4rem;
      }
    }
  }
}
