.container {
  .listContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 1rem;

    @include min(tablet) {
      display: flex;
      justify-content: space-between;
      height: 6.5rem;
      border-bottom: 0.2rem solid #efefef;
      padding: 0 6.5rem;
    }

    .item {
      cursor: pointer;
      position: relative;

      &.isActive {
        color: #00b9cb;
        position: relative;

        ::after {
          display: block;
          border-bottom: 4px solid #00b9cb;
          content: '';
          position: absolute;
          width: 100%;

          @include min(tablet) {
            top: 61px;
          }
        }
      }
    }

    .sideBorder {
      width: 0.2rem;
      height: 2rem;
      background-color: #efefef;
      display: flex;
      margin-top: 5px;

      @include max(tablet) {
        display: none;
      }
    }

    .sideBorder:last-child {
      display: none;
    }
  }
}
