.container {
  .listContainer {
    display: flex;
    justify-content: space-between;
    height: 6.5rem;
    border-bottom: 0.2rem solid #efefef;
    padding: 0 1rem;

    @include min(tablet) {
      padding: 0 6.5rem;
    }

    .item {
      cursor: pointer;
      position: relative;

      &.isActive {
        color: #00b9cb;
        position: relative;

        ::after {
          display: block;
          border-bottom: 4px solid #00b9cb;
          content: '';
          position: absolute;
          top: 61px;
          width: 100%;
        }
      }
    }

    .sideBorder {
      width: 0.2rem;
      height: 2rem;
      background-color: #efefef;
      display: flex;
      margin-top: 5px;
    }

    .sideBorder:last-child {
      display: none;
    }
  }
}
