.buttonList {
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // row-gap: 1.5rem;
  // column-gap: 1rem;
  @include flex-direction(row);
  margin-bottom: 2.5rem;

  @include min(tablet) {
    // max-width: 99.2rem;
    display: flex;
    height: 4.8rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    justify-content: center;
    align-items: center;
  }

  button {
    width: 100%;
    border-radius: 2.4rem;
    box-sizing: border-box;
    border: 2px solid #efefef;
    background-color: #ffffff;
    border-radius: 24px;
    line-height: 2rem;
    font-size: 2rem;
    letter-spacing: -0.5px;
    color: #000000;
    font-weight: 400;
    margin-right: 2rem;
    position: relative;

    @include min(tablet) {
      margin-right: 3rem;
      width: unset;
      padding: 1.2rem 2.8rem;
    }

    &:hover {
      background-color: #fff;
      color: #000;
      border-color: var(--primary-color);
    }
  }

  button:last-child {
    margin-right: 0;
  }
}

.featurdArticle:hover {
  > div {
    h2 {
      color: #00b9cb;
    }
  }
}

.paginationWrapper {
  @include flex-align(center, center);

  @include min(tablet) {
    margin: 0 29.7rem;
  }

  .pagination {
    margin: 0.4rem 4rem;
    @include flex-align(center, center);
    li {
      margin: 0 2rem;
    }
    .pageLink {
      @include flex-align(center, center);
      width: 4rem;
      height: 4rem;
      font-size: 20px;
      text-align: center;
      color: #00b9cb;
      line-height: 40px;
      border-radius: 100%;

      &.selected {
        background-color: #e6f8fa;
      }

      &:hover {
        border-radius: 50%;
        background-color: #e6f8fa;
        color: #00b9cb;
      }
    }

    span {
      @include flex-align(center, center);
      width: 4rem;
      height: 4rem;
      font-size: 20px;
      text-align: center;
      color: #00b9cb;
    }
  }

  button {
    width: 12rem !important;
  }
}
