.carousel.carousel-slider {
  overflow: inherit;
  // min-height: 50rem;
}

.carousel {
  .control-next.control-arrow,
  .control-next.control-arrow:hover {
    background-color: transparent;
    right: -8rem;
  }

  .control-prev.control-arrow,
  .control-prev.control-arrow:hover {
    background-color: transparent;
    left: -8rem;
  }

  .control-arrow,
  .carousel-slider .control-arrow {
    opacity: 1;
  }

  .control-next.control-arrow:before {
    content: '';
    border: solid gray;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 14px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .control-prev.control-arrow:before {
    content: '';
    border: solid gray;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 14px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  button {
    @include max(mobile) {
      display: none;
    }
  }

  .control-dots {
    bottom: -10rem;
    .dot {
      background-color: #e3e3e3;
      box-shadow: none;
      border-radius: 50%;
      height: 1.2rem;
      width: 1.2rem;
      cursor: pointer;
      display: inline-block;
      margin: 0 0.6rem;

      &.selected,
      &:hover {
        background: var(--gray);
      }
    }

    @include max(mobile) {
      bottom: 6rem;
      margin: 0;
    }
  }
}

.arrowButton {
  position: absolute;
  top: 0;
  bottom: 0;
}

.BrainhubCarousel {
  &__trackContainer {
    width: calc(100% - 12rem) !important;
  }
}

.BrainhubCarouselItem {
  align-items: unset !important;
}
