[data-reach-dialog-overlay] {
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-reach-dialog-content] {
  margin: 0;
}

.dialogContainer {
  // padding: 4rem ​1.5rem 1rem;
  padding: 4rem;
  width: 80rem;
  max-width: calc(100% - 2rem);
  border-radius: 0.4rem;
  background-color: #ffffff;
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.2);

  @include max(mobile) {
    padding: 4rem 2rem 3rem;
  }

  @include min(desktop) {
    padding: 8.3rem 10rem;
    height: 40rem;
  }

  .textContainer {
    @include flex-align(center, center);
    flex-direction: column;
    margin-bottom: 5rem;

    .greenArrow {
      width: 4rem;
      height: 4rem;
      margin: 0 auto 1.6rem;
      background: url('@images/green-confirm-arrow.png');
      background-size: contain;
      background-position: center;
    }

    h4 {
      margin-bottom: 0.8rem;
    }

    .textPush {
      margin-bottom: 1.5rem;
      text-align: center;
    }

    .pushAround {
      text-align: center;
      margin: 2.5rem 0;
    }

    p {
      span {
        font-weight: 500;
      }
    }

    a,
    button {
      margin: 1.5rem auto;
      width: 18rem;
    }
  }
}

.confirmEmailContainer {
  @include flex-align(center, center);
  flex-direction: column;
  padding: 8.3rem 10rem;
  height: 40rem;
  width: 80rem;
  border-radius: 0.4rem;
  background-color: #ffffff;
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.2);

  .iconContainer {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1.6rem;
  }

  .emailTextContainer {
    text-align: center;

    h4 {
      margin-bottom: 1rem;
    }

    p {
      color: #262626;
      font-size: 22px;
      letter-spacing: 0;
      line-height: 30px;
      text-align: center;
      margin-bottom: 4rem;
    }
  }

  button {
    height: 4.8rem;
    width: 18rem;
  }
}
