.dialogContainer {
  padding: 8.3rem 10rem;
  height: 40rem;
  width: 80rem;
  border-radius: 0.4rem;
  background-color: #ffffff;
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.2);

  .textContainer {
    @include flex-align(center, center);
    flex-direction: column;
    margin-bottom: 5rem;
  }
}

.confirmEmailContainer {
  @include flex-align(center, center);
  flex-direction: column;
  padding: 8.3rem 10rem;
  height: 40rem;
  width: 80rem;
  border-radius: 0.4rem;
  background-color: #ffffff;
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.2);

  .iconContainer {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1.6rem;
  }

  .emailTextContainer {
    text-align: center;

    h4 {
      margin-bottom: 1rem;
    }

    p {
      color: #262626;
      font-size: 22px;
      letter-spacing: 0;
      line-height: 30px;
      text-align: center;
      margin-bottom: 4rem;
    }
  }

  button {
    height: 4.8rem;
    width: 18rem;
  }
}
