@import './variables.scss';

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot');
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.attoicon-jobs {
  &:before {
    content: $attoicon-jobs;
  }
}
.attoicon-notes {
  &:before {
    content: $attoicon-notes;
  }
}
.attoicon-timesheets {
  &:before {
    content: $attoicon-timesheets;
  }
}
.attoicon-timesheets-rounded1 {
  &:before {
    content: $attoicon-timesheets-rounded1;
  }
}
.attoicon-mobile-tt {
  &:before {
    content: $attoicon-mobile-tt;
  }
}
.attoicon-named-sites {
  &:before {
    content: $attoicon-named-sites;
  }
}
.attoicon-profitable-bids {
  &:before {
    content: $attoicon-profitable-bids;
  }
}
.attoicon-departments {
  &:before {
    content: $attoicon-departments;
  }
}
.attoicon-timeline {
  &:before {
    content: $attoicon-timeline;
  }
}
.attoicon-filters {
  &:before {
    content: $attoicon-filters;
  }
}
.attoicon-verified {
  &:before {
    content: $attoicon-verified;
  }
}
.attoicon-timezone {
  &:before {
    content: $attoicon-timezone;
  }
}
.attoicon-manual-entries {
  &:before {
    content: $attoicon-manual-entries;
  }
}
.attoicon-job-costing {
  &:before {
    content: $attoicon-job-costing;
  }
}
.attoicon-location-tracking {
  &:before {
    content: $attoicon-location-tracking;
  }
}
.attoicon-break {
  &:before {
    content: $attoicon-break;
  }
}
.attoicon-night-shift {
  &:before {
    content: $attoicon-night-shift;
  }
}
.attoicon-overtime {
  &:before {
    content: $attoicon-overtime;
  }
}
.attoicon-time-tracking1 {
  &:before {
    content: $attoicon-time-tracking1;
  }
}
.attoicon-time-tracking {
  &:before {
    content: $attoicon-time-tracking;
  }
}
.attoicon-location-history {
  &:before {
    content: $attoicon-location-history;
  }
}
.attoicon-privacy {
  &:before {
    content: $attoicon-privacy;
  }
}
.attoicon-time-entry-history {
  &:before {
    content: $attoicon-time-entry-history;
  }
}
.attoicon-customize {
  &:before {
    content: $attoicon-customize;
  }
}
.attoicon-rounded-clock {
  &:before {
    content: $attoicon-rounded-clock;
  }
}
.attoicon-time-off {
  &:before {
    content: $attoicon-time-off;
  }
}
.attoicon-named-locations {
  &:before {
    content: $attoicon-named-locations;
  }
}
.attoicon-sand-clock {
  &:before {
    content: $attoicon-sand-clock;
  }
}
.attoicon-battery {
  &:before {
    content: $attoicon-battery;
  }
}
.attoicon-support {
  &:before {
    content: $attoicon-support;
  }
}
.attoicon-help-support {
  &:before {
    content: $attoicon-help-support;
  }
}
.attoicon-web-tt {
  &:before {
    content: $attoicon-web-tt;
  }
}
.attoicon-archive {
  &:before {
    content: $attoicon-archive;
  }
}
.attoicon-email {
  &:before {
    content: $attoicon-email;
  }
}
.attoicon-kiosk {
  &:before {
    content: $attoicon-kiosk;
  }
}
.attoicon-share {
  &:before {
    content: $attoicon-share;
  }
}
.attoicon-crew {
  &:before {
    content: $attoicon-crew;
  }
}
.attoicon-team-activity {
  &:before {
    content: $attoicon-team-activity;
  }
}
.attoicon-team {
  &:before {
    content: $attoicon-team;
  }
}
.attoicon-wages .path1 {
  &:before {
    content: $attoicon-wages-path1;
    color: rgb(38, 38, 38);
  }
}
.attoicon-wages .path2 {
  &:before {
    content: $attoicon-wages-path2;
    margin-left: -1em;
    color: rgb(38, 38, 38);
  }
}
.attoicon-wages .path3 {
  &:before {
    content: $attoicon-wages-path3;
    margin-left: -1em;
    color: rgb(38, 38, 38);
  }
}
.attoicon-wages .path4 {
  &:before {
    content: $attoicon-wages-path4;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}
.attoicon-notification {
  &:before {
    content: $attoicon-notification;
  }
}
.attoicon-avatar {
  &:before {
    content: $attoicon-avatar;
  }
}
.attoicon-view-map {
  &:before {
    content: $attoicon-view-map;
  }
}
.attoicon-wage-estimates {
  &:before {
    content: $attoicon-wage-estimates;
  }
}
.attoicon-wage-estimates-bold {
  &:before {
    content: $attoicon-wage-estimates-bold;
  }
}
.attoicon-close {
  &:before {
    content: $attoicon-close;
  }
}
.attoicon-plus {
  &:before {
    content: $attoicon-plus;
  }
}
.attoicon-minus {
  &:before {
    content: $attoicon-minus;
  }
}
.attoicon-tick {
  &:before {
    content: $attoicon-tick;
  }
}
.attoicon-arrow-left {
  &:before {
    content: $attoicon-arrow-left;
  }
}
.attoicon-arrow-right {
  &:before {
    content: $attoicon-arrow-right;
  }
}
.attoicon-arrow-down {
  &:before {
    content: $attoicon-arrow-down;
  }
}
.attoicon-arrow-up {
  &:before {
    content: $attoicon-arrow-up;
  }
}
.attoicon-play {
  &:before {
    content: $attoicon-play;
  }
}
.attoicon-long-arrow {
  &:before {
    content: $attoicon-long-arrow;
  }
}
