$icomoon-font-family: 'attotime' !default;
$icomoon-font-path: '/fonts' !default;

$attoicon-healthcare: '\e905';
$attoicon-landscaping: '\e906';
$attoicon-electric: '\e907';
$attoicon-cleaning: '\e908';
$attoicon-roofing: '\e909';
$attoicon-painting: '\e90a';
$attoicon-verified: '\e90b';
$attoicon-rounded-clock: '\e90e';
$attoicon-time-off: '\e913';
$attoicon-notification: '\e915';
$attoicon-play: '\e900';
$attoicon-tick: '\e901';
