$icomoon-font-family: 'attotime' !default;
$icomoon-font-path: '/fonts' !default;

$attoicon-jobs: '\e914';
$attoicon-notes: '\e91d';
$attoicon-timesheets: '\e921';
$attoicon-timesheets-rounded1: '\e903';
$attoicon-mobile-tt: '\e92b';
$attoicon-named-sites: '\e92c';
$attoicon-profitable-bids: '\e932';
$attoicon-departments: '\e910';
$attoicon-timeline: '\e91e';
$attoicon-filters: '\e91b';
$attoicon-verified: '\e90b';
$attoicon-timezone: '\e934';
$attoicon-manual-entries: '\e918';
$attoicon-job-costing: '\e928';
$attoicon-location-tracking: '\e917';
$attoicon-break: '\e90f';
$attoicon-night-shift: '\e91c';
$attoicon-overtime: '\e91f';
$attoicon-time-tracking1: '\e920';
$attoicon-time-tracking: '\e933';
$attoicon-location-history: '\e92a';
$attoicon-privacy: '\e92d';
$attoicon-time-entry-history: '\e916';
$attoicon-customize: '\e924';
$attoicon-rounded-clock: '\e90e';
$attoicon-time-off: '\e913';
$attoicon-named-locations: '\e919';
$attoicon-sand-clock: '\e922';
$attoicon-battery: '\e923';
$attoicon-support: '\e926';
$attoicon-help-support: '\e927';
$attoicon-web-tt: '\e93d';
$attoicon-archive: '\e90d';
$attoicon-email: '\e912';
$attoicon-kiosk: '\e929';
$attoicon-share: '\e92f';
$attoicon-crew: '\e925';
$attoicon-team-activity: '\e930';
$attoicon-team: '\e931';
$attoicon-wages-path1: '\e939';
$attoicon-wages-path2: '\e93a';
$attoicon-wages-path3: '\e93b';
$attoicon-wages-path4: '\e93c';
$attoicon-notification: '\e915';
$attoicon-avatar: '\e905';
$attoicon-view-map: '\e936';
$attoicon-movement-tracking: '\e907';
$attoicon-wage-estimates: '\e937';
$attoicon-wage-estimates-bold: '\e938';
$attoicon-close: '\e902';
$attoicon-plus: '\e93f';
$attoicon-minus: '\e940';
$attoicon-tick: '\e901';
$attoicon-arrow-left: '\e93e';
$attoicon-arrow-right: '\e904';
$attoicon-arrow-down: '\e911';
$attoicon-arrow-up: '\e935';
$attoicon-play: '\e900';
$attoicon-long-arrow: '\e90c';
