.container {
  // @include flex-direction(column-reverse);
  flex-direction: column;
  // @include min(mobile) {
  // }

  .checkListContainer {
    @include min(laptop) {
      margin: 0 8.5rem;
    }
    > div {
      > div {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
