.container {
  @include flex-direction(column);

  @include min(tablet) {
    flex-direction: row;
    margin: 0 7.5rem 0 7.5rem;
  }

  .imageContainer {
    width: 100%;
    display: flex;
    align-items: center;

    @include min(tablet) {
      margin-right: 14rem;
      max-width: 25rem;
      max-height: 40rem;
    }
  }

  .paragraphContainer {
    display: flex;
    flex-direction: column;
    max-width: 52.5rem;
    margin-top: 3rem;

    h4 {
      margin-bottom: 5rem;
    }

    h6 {
      font-weight: var(--medium);
    }

    .starsPic {
      width: 19.2rem;
      margin-bottom: 5rem;
    }
  }
}
