// TODO add the font locations

@font-face {
  font-family: 'Calibre';
  src: url('../fonts/FontFamily-Regular.eot');
  src: url('../fonts/FontFamily-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FontFamily-Regular.woff2') format('woff2'),
    url('../fonts/FontFamily-Regular.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('../fonts/FontFamily-Regular.eot');
  src: url('../fonts/FontFamily-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FontFamily-Regular.woff2') format('woff2'),
    url('../fonts/FontFamily-Regular.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
