@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibre-web-regular.eot');
  src: url('/fonts/calibre-web-regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/calibre-web-regular.woff2') format('woff2'),
    url('/fonts/calibre-web-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibre-web-medium.eot');
  src: url('/fonts/calibre-web-medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/calibre-web-medium.woff2') format('woff2'),
    url('/fonts/calibre-web-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibre-web-semibold.eot');
  src: url('/fonts/calibre-web-semibold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/calibre-web-semibold.woff2') format('woff2'),
    url('/fonts/calibre-web-semibold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
