@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibre-web-regular.eot');
  src: url('/fonts/calibre-web-regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/calibre-web-regular.woff2') format('woff2'),
    url('/fonts/calibre-web-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibre-web-medium.eot');
  src: url('/fonts/calibre-web-medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/calibre-web-medium.woff2') format('woff2'),
    url('/fonts/calibre-web-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibre-web-semibold.eot');
  src: url('/fonts/calibre-web-semibold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/calibre-web-semibold.woff2') format('woff2'),
    url('/fonts/calibre-web-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Spicy Pumpkin';
  src: url('/fonts/Spicy-Pumpkin-400.eot');
  src: url('/fonts/Spicy-Pumpkin-400.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Spicy-Pumpkin-400.woff2') format('woff2'),
    url('/fonts/Spicy-Pumpkin-400.woff') format('woff'),
    url('/fonts/Spicy-Pumpkin-400.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
