.workCardContainer {
  width: 100%;
  padding-top: 5rem;

  .logoWrapper {
    padding: 0.83rem 2.9rem 0.76rem 0.1rem;
    margin-bottom: 1.6rem;
  }

  .textContainer {
    h5 {
      font-size: 2.2rem;
      font-weight: var(--semi-bold);
      letter-spacing: -0.5px;
      line-height: 30px;
      margin-right: 4rem;
      margin-bottom: 1.6rem;
    }

    p {
      font-size: 2rem;
      letter-spacing: 0;
      line-height: 3rem;
    }
  }
}

.container {
  &.leftAligned {
    .logoWrapper {
      @include flex-align(center, flex-start);
    }

    .textContainer {
      h5 {
        text-align: left;
      }

      p {
        text-align: left;
      }
    }
  }

  .logoWrapper {
    @include flex-align(center, center);

    img {
      width: 4rem;
      height: 4rem;
    }
  }

  .textContainer {
    text-align: center;

    h5 {
      max-width: 36rem;
      font-size: 2.2rem;
      letter-spacing: -0.5px;
      line-height: 2.5rem;
      font-weight: var(--semi-bold);
      margin-top: 2.4rem;
      margin-bottom: 0.8rem;
    }

    p {
      max-width: 36rem;
      font-size: 1.9rem;
      letter-spacing: 0;
      line-height: 3rem;
    }
  }
}
