.workCardContainer {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0 1rem;

  @include min(tablet) {
    padding: 0;
    margin-top: 5rem;
  }

  .logoWrapper {
    margin-bottom: 1.6rem;
    height: 5rem;
    @include flex-align(center, flex-start);

    @include max(tablet) {
      padding: 0 !important;
      justify-content: center;
    }
  }

  .textContainer {
    h5 {
      font-weight: var(--semi-bold);
      margin-bottom: 1.6rem;

      &.titlePush {
        margin-bottom: 1.7rem;
        margin-right: 0;
      }

      @include max(mobile) {
        font-size: var(--h4-mobile-size);
        line-height: var(--h4-mobile-line-height-size);
        letter-spacing: var(--h4-mobile-letter-spacing);
      }

      @include min(tablet) {
        margin-right: 4rem;
      }
    }
  }

  span {
    font-size: 1.8rem;
    line-height: 3rem;
    margin-top: 0.8rem;
    color: #999;
    font-family: 'Calibre', sans-serif;
    display: inline-flex;
  }
}

.container {
  margin: 4rem auto;
  width: 80%;

  @include min(tablet) {
    margin: 0;
    width: 100%;
  }

  &.leftAligned {
    .logoWrapper {
      @include flex-align(center, center);
      width: 100%;
      height: 4rem;

      @include min(tablet) {
        justify-content: flex-start;
        width: 7rem;
      }

      img {
        max-height: 4rem;
        width: auto;
      }
    }

    .textContainer {
      @include min(tablet) {
        h5 {
          text-align: left;
        }

        p {
          text-align: left;
        }
      }
    }
  }

  .logoWrapper {
    @include flex-align(center, center);
    height: 4rem;
  }

  .textContainer {
    text-align: center;

    h5 {
      margin-top: 2.4rem;
      margin-bottom: 0.8rem;
    }
  }

  &.allFeaturesStyle {
    margin: 0;
    width: 100%;

    .cardHeader {
      display: flex;
      margin-bottom: 1.3rem;

      .logoWrapper {
        height: 4rem;
        width: 4rem;
        margin-right: 1.6rem;

        i {
          font-size: 3.1rem;
          color: var(--primary-color);
        }
      }

      h5 {
        @include flex-align(center, center);
      }
    }

    .textContainer {
      text-align: left;
      max-width: 36rem;
      margin-left: 5.6rem;
    }
  }
}
