.workCardContainer {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0 1rem;

  @include min(tablet) {
    padding: 0;
    margin-top: 5rem;
  }

  .logoWrapper {
    padding: 0.83rem 2.9rem 0.76rem 0.1rem;
    margin-bottom: 1.6rem;
  }

  .textContainer {
    h5 {
      font-weight: var(--semi-bold);
      margin-right: 4rem;
      margin-bottom: 1.6rem;
    }
  }
}

.container {
  margin: 1.5rem 1rem;

  @include min(tablet) {
    margin: 0;
  }

  &.leftAligned {
    .logoWrapper {
      @include flex-align(center, flex-start);
      width: 7rem;
      height: 5rem;
    }

    .textContainer {
      h5 {
        text-align: left;
      }

      p {
        text-align: left;
      }
    }
  }

  .logoWrapper {
    @include flex-align(center, center);
    height: 4rem;
  }

  .textContainer {
    text-align: center;

    h5 {
      margin-top: 2.4rem;
      margin-bottom: 0.8rem;
    }
  }
}
