.container {
  @include flex-direction(column);
  border: 2px solid #efefef;
  border-radius: 8px;
  background-color: #ffffff;
  margin-bottom: 2rem;
  padding: 1rem;

  .greenSubtitle {
    font-weight: normal;
    color: var(--primary-color);
  }

  @include min(tablet) {
    width: 48%;
    margin-bottom: 0;
    padding: 0;
    padding: 2.8rem 4.8rem 6rem;
  }

  .firstContainer {
    @include flex-direction(column);
    justify-content: flex-start;

    .titleWrapper {
      @include flex-align(center, space-between);
      margin-bottom: 3rem;

      > span {
        line-height: 2rem;
      }
    }

    .contentWrapper {
      display: flex;
      align-items: center;
      line-height: 3rem;
      margin-bottom: 4.5rem;
      min-height: 8rem;

      > p {
        max-width: 23.3rem;
        font-size: 2.2rem;
      }

      .priceWrapper {
        display: flex;
        align-items: center;
        font-size: 2.6rem;

        > span {
          padding: 0 1rem;
          font-size: 8rem;
          font-weight: var(--semi-bold);
          letter-spacing: -1.33px;
          line-height: 8rem;
        }
      }
    }

    > button {
      background-color: var(--primary-color);
      font-size: 2rem;
      width: 24rem;
    }
  }

  .listWrapper {
    margin-top: 5.5rem;

    > div {
      height: 4rem;
      margin-top: 2rem;

      h5 {
        font-size: 2.2rem !important;
        font-weight: 400 !important;
      }
    }
  }
}
