.timeTrackingContainer {
  .checkListContainer {
    @include min(tablet) {
      margin: 0 8.5rem;
    }
  }

  .learnMoreContainer {
    margin-top: -1.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include max(tablet) {
      > div {
        margin-bottom: 1rem;
      }
    }
  }

  .workListContainer {
    @include flex-direction(column);
    width: 100%;

    @include min(tablet) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 8.1rem;
      margin-left: 2rem;
      width: calc(100% - 7.8rem);
    }
  }

  .commonProblemsContainer {
    display: grid;
    row-gap: 2rem;

    @include min(tablet) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 4.5rem;
      row-gap: 0;
    }
  }
}
