.container {
  max-width: 114rem;
  // margin: 0 15rem;
  margin: 0 auto;

  .checkListContainer {
    margin: 0 8.5rem;
  }

  .learnMoreContainer {
    margin-top: -1.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .workListContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8rem;
    margin-left: 2rem;
    margin-right: 5.8rem;
  }

  .commonProblemsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4.5rem;
  }
}
