.container {
  @include flex-direction(column-reverse);

  @include min(tablet) {
    flex-direction: row;
  }

  .firstWrapper {
    @include min(tablet) {
      margin-right: 9rem;
      width: 54rem;
    }

    .textContainer {
      .prdName {
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: -0.5px;
        font-weight: var(--regular);
        color: var(--primary-color);
      }

      h2 {
        @include min(tablet) {
          margin: 1.2rem 1rem 2rem 0;
        }
      }

      p {
        font-size: var(--body-style-two);
        line-height: var(--body-style-two-line-height-size);
        letter-spacing: -0.5px;
      }
    }

    .learnMoreContainer {
      display: flex;
      align-items: center;
      margin-top: 1rem;

      .arrowIconContainer {
        width: 2.4rem;
        height: 2.4rem;
        padding: 0.4rem;
        margin-right: 1rem;
      }

      p {
        font-weight: var(--medium);
      }
    }

    .listContainer {
      border-top: 1px solid #efefef;
      border-bottom: 1px solid #efefef;

      > div {
        align-items: flex-start;

        @include min(tablet) {
          margin: 4rem 0;
        }

        > div:first-child {
          width: unset;
          margin-top: 0.3rem;
        }

        h5 {
          font-size: 2.5rem !important;
          line-height: 3rem !important;
          font-weight: 600 !important;
        }

        p {
          height: initial;
        }
      }
    }
  }

  .secondWrapper {
    @include flex-align(center, center);

    .imageContainer {
      width: 22rem;

      @include min(tablet) {
        width: 50rem;
        height: 65rem;
      }
    }
  }

  &.swapped {
    flex-direction: column-reverse;

    @include min(tablet) {
      flex-direction: row-reverse;
    }

    .firstWrapper {
      @include min(tablet) {
        margin: 0;
        margin-left: 9rem;
      }
    }

    .secondWrapper {
      .imageContainer {
        @include flex-align(center, center);
      }
    }
  }

  &.homepage {
    .firstWrapper {
      @include flex-align(flex-start, center);
      flex-direction: column;
      .learnMoreContainer {
        .arrowIconContainer {
          display: none;
        }

        .arrow {
          background: #000000;
          height: 1.5px;
          width: 32px;
          margin-left: 2rem;
          margin-top: 0.3rem;
          position: relative;
          cursor: pointer;

          &:before,
          &:after {
            content: '';
            background: #000000;
            position: absolute;
            height: 1.5px;
            width: 7px;
          }

          &:before {
            right: -1px;
            bottom: -2px;
            transform: rotate(-45deg);
          }

          &:after {
            right: -1px;
            top: -2px;
            transform: rotate(45deg);
          }
        }
      }

      .textContainer {
        h2 {
          margin: 0;
          margin-bottom: 2rem;
        }
        p {
          font-size: var(--body-style-one);
          line-height: var(--body-style-one-line-height-size);
          font-weight: var(--body-style-one-font-weight);
          letter-spacing: -0.5px;
        }
      }
    }

    .secondWrapper {
      .imageContainer {
        padding: 0;
      }
    }
  }
}
