.container {
  @include flex-direction(column-reverse);
  justify-content: space-between;

  @include min(tablet) {
    flex-direction: row;
  }

  .firstWrapper {
    @include min(tablet) {
      margin-right: 9rem;
    }

    .textContainer {
      margin: 1rem;

      @include min(tablet) {
        margin: 0;
      }

      .prdName {
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: -0.5px;
        font-weight: var(--medium);
        color: var(--primary-color);
      }

      h2 {
        @include min(tablet) {
          margin: 1.2rem 1rem 2rem 0;
        }
      }

      h4 {
        font-size: 2.6rem;
        line-height: 3rem;
        letter-spacing: -0.5px;
      }
    }

    .learnMoreContainer {
      margin-left: 2rem;
      display: flex;
      align-items: center;
      margin-top: 1rem;

      @include min(tablet) {
        margin-left: 0;
      }

      .arrowIconContainer {
        width: 2.4rem;
        height: 2.4rem;
        padding: 0.4rem;
        margin-right: 1rem;
      }

      p {
        font-weight: var(--medium);
      }
    }

    .listContainer {
      border-top: 1px solid #efefef;
      border-bottom: 1px solid #efefef;

      > div {
        align-items: flex-start;

        @include min(tablet) {
          margin: 4rem 0;
        }

        > div:first-child {
          width: unset;
          margin-top: 0.3rem;
        }

        h5 {
          font-size: 2.5rem !important;
          line-height: 3rem !important;
          font-weight: 600 !important;
        }

        p {
          height: initial;
        }
      }
    }
  }

  .secondWrapper {
    @include min(tablet) {
      width: 50%;
    }
    @include flex-align(center, center);

    .imageContainer {
      width: 22rem;
      padding: 3rem; //this is here for now, needs to replace when we find a solution about positioning images dynamically.

      @include min(tablet) {
        width: 50rem;
        height: 65rem;
      }
    }
  }

  &.swapped {
    flex-direction: column-reverse;

    @include min(tablet) {
      flex-direction: row-reverse;
    }

    .firstWrapper {
      @include min(tablet) {
        margin: 0;
        margin-left: 9rem;
      }
    }
  }

  &.homepage {
    .firstWrapper {
      @include flex-align(flex-start, center);
      flex-direction: column;
      .learnMoreContainer {
        .arrowIconContainer {
          display: none;
        }

        .arrow {
          background: #000000;
          height: 1.5px;
          width: 32px;
          margin-left: 2rem;
          margin-top: 0.3rem;
          position: relative;
          cursor: pointer;

          &:before,
          &:after {
            content: '';
            background: #000000;
            position: absolute;
            height: 1.5px;
            width: 7px;
          }

          &:before {
            right: -1px;
            bottom: -2px;
            transform: rotate(-45deg);
          }

          &:after {
            right: -1px;
            top: -2px;
            transform: rotate(45deg);
          }
        }
      }
    }

    .secondWrapper {
      .imageContainer {
        padding: 0;
      }
    }
  }
}
