.container {
  @include flex-direction(column);
  justify-content: space-between;

  @include min(tablet) {
    flex-direction: row;
  }

  &.swapped {
    flex-direction: column-reverse;

    @include min(tablet) {
      flex-direction: row-reverse;
    }
  }

  .firstWrapper {
    @include min(tablet) {
      width: 50%;
    }

    .textContainer {
      margin: 1rem;

      @include min(tablet) {
        margin: 0;
      }

      .prdName {
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: -0.5px;
        color: var(--primary-color);
      }

      h2 {
        @include min(tablet) {
          margin: 1.2rem 1rem 2rem 0;
        }
      }

      h4 {
        font-size: 2.6rem;
        line-height: 3rem;
        letter-spacing: -0.5px;
      }
    }

    .learnMoreContainer {
      margin-left: 2rem;
      display: flex;
      align-items: center;
      margin-top: 4rem;

      @include min(tablet) {
        margin-left: 0;
      }

      .arrowIconContainer {
        width: 2.4rem;
        height: 2.4rem;
        padding: 0.4rem;
        margin-right: 1rem;
      }

      p {
        font-weight: var(--medium);
      }
    }

    .listContainer {
      border-top: 1px solid #efefef;
      border-bottom: 1px solid #efefef;

      > div {
        margin: 4rem 0;
        align-items: flex-start;

        h5 {
          font-size: 2.5rem !important;
          line-height: 3rem !important;
        }
      }
    }
  }

  .secondWrapper {
    @include min(tablet) {
      width: 50%;
    }
    @include flex-align(center, center);

    .imageContainer {
      width: 22rem;

      @include min(tablet) {
        width: 50rem;
        height: 65rem;
      }
    }
  }
}
