.paginationWrapper {
  @include flex-align(center, center);

  @include min(tablet) {
    margin: 0 29.7rem;
  }

  .pagination {
    margin: 0.4rem 4rem;
    @include flex-align(center, center);

    .pageLink {
      width: 4rem;
      height: 4rem;
      @include flex-align(center, center);
      font-size: 20px;

      &.selected {
        color: #00b9cb;
      }
    }

    .pageLink:hover {
      border-radius: 50%;
      background-color: #e6f8fa;
      color: #00b9cb;
    }
  }

  button {
    width: 12rem;
    background-color: #00b9cb;
    color: white;
  }
}
