.slider {
  @include flex-direction(column);
  margin: 0 1rem;

  @include min(tablet) {
    flex-direction: row;
    margin: 0 8rem;
    justify-content: space-between;
  }
}

.checkListContainer {
  margin: 0 0.5rem;
  @include min(tablet) {
    margin: 0 8.5rem;
  }
}

.numbers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include min(tablet) {
    flex-direction: row;
    padding: 7.2rem 0;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #e3e3e3;
    border-bottom: 2px solid #e3e3e3;
  }
}
