.slider {
  @include flex-direction(column);
  margin: 0 1rem;

  @include min(tablet) {
    flex-direction: row;
    justify-content: space-between;
  }

  @include min(laptop) {
    margin: 0 8rem;
  }
}

.checkListContainer {
  margin: 0 0.5rem;
  @include min(tablet) {
    margin: 0 8.5rem;
  }
}

.numbers {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 3rem;
  row-gap: 1rem;

  > div:nth-child(even) {
    text-align: right;
  }

  @include min(tablet) {
    flex-direction: row;
    padding: 7.2rem 0;
    row-gap: 0;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #e3e3e3;
    border-bottom: 2px solid #e3e3e3;
  }
}
