.checkListContainer {
  @include min(tablet) {
    margin: 0 8.5rem;
  }
}

.privacyContainer {
  @include flex-direction(column-reverse);

  @include min(tablet) {
    flex-direction: row;
  }

  > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;

    > div {
      > div:first-child {
        margin-right: 2rem;
      }
    }

    h5 {
      margin-top: 0.5rem;
    }
  }

  .imageContainer {
    padding: 3rem;
    margin-bottom: 2rem;

    @include min(tablet) {
      padding: 0;
      margin: 0;
      width: 50%;
      @include flex-align(flex-start, flex-end);
    }
  }
}
