.btn-default {
  // TODO convert this one to a mixin instead of class based
  @include flex-align(center, center);
  @include transition(ease all 0.3s);
  height: 5.4rem;
  padding: 0 1rem;
  border-radius: 3rem;
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: var(--semi-bold);
}
