@mixin loader($color, $size) {
  height: $size;
  width: 100%;

  &:after {
    content: ' ';
    display: block;
    width: $size;
    height: $size;
    border-radius: 50%;
    border: $size/10 solid $color;
    border-color: $color transparent $color transparent;
    animation: loader-rings 1.2s linear infinite;
    margin: 0 auto;
  }

  @keyframes loader-rings {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
