.container {
  .content {
    margin-top: 3rem;
    > div h4 {
      font-size: 3.2rem !important;
      line-height: 4rem !important;
      letter-spacing: -0.05rem;
    }
  }

  .inactive {
    display: none;
  }

  > div {
    @include min(tablet) {
      display: none;
    }

    padding: 3rem 0;
    padding-left: 0.8rem;
    line-height: 3rem;
    border-top: 1px solid #efefef;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.5px;

    &:last-child {
      border-bottom: 1px solid #efefef;
    }
  }
}
