.container {
  max-width: 114rem;
  margin: 0 auto;

  .learnMoreContainer {
    @include flex-align(center, center);
    @include min(tablet) {
      margin-top: -0.5rem;
      justify-content: space-between;
    }
    flex-wrap: wrap;
  }

  .featuresStyle {
    margin-top: 3rem;

    @include min(tablet) {
      margin-top: -1.5rem;
    }
  }

  .checkListContainer {
    @include min(tablet) {
      margin: 0 8.5rem;
    }
  }
}
