.defaultBtn {
  color: white;
  background-color: var(--tertiary-color);
  @include flex-align(center, center);
  height: 4.8rem;
  border-radius: 0.4rem;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: var(--medium);
  padding: 1rem 1.5rem;
  text-align: center;
  transition: ease all 0.15s;

  &:not(:disabled):hover {
    background-color: #262626;
  }

  &.grayStyle {
    color: #000;
    background-color: #fff;
    border: 2px solid #efefef;

    &:not(:disabled):hover {
      background-color: var(--color-20);
    }
  }

  &.blackStyle {
    min-width: 18rem;
    max-width: 100%;
  }

  &.tealStyle {
    min-width: 13.6rem;
    max-width: 100%;
    background-color: var(--primary-color);

    &:not(:disabled):hover {
      background-color: #0a9ead;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }

  &.wideStyle {
    width: 22rem;
    max-width: 100%;
  }

  &.roundStyle {
    width: 15rem;
    max-width: 100%;
    border-radius: 3rem;
  }

  &.pricingStyle {
    width: 12.6rem;
    max-width: 100%;
    height: 4rem;
    border: 2px solid transparent;
    padding: 0.8rem 1.1rem;
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
    background-color: transparent;

    &.activeStyle {
      border: 2px solid var(--primary-color);
      background-color: #fff;
      color: #000;
    }
  }

  &.activeBlogItem {
    border-color: var(--primary-color);
    &:after {
      content: '';
      width: calc(100% + 12px);
      height: calc(100% + 12px);
      left: -6px;
      top: -6px;
      position: absolute;
      border-radius: 30px;
      border: 4px solid rgba(0, 185, 203, 0.2);
      z-index: -1;
    }
  }

  &.bigStyle {
    line-height: 4rem;
    font-weight: 500;
    letter-spacing: -0.05rem;
  }

  span.mobileText {
    display: none;
  }

  @include max(tablet) {
    &.hasMobileText {
      span.desktopText {
        display: none;
      }

      span.mobileText {
        display: block;
      }
    }

    &.grayStyle,
    &.wideStyle,
    &.roundStyle,
    &.blackStyle,
    &.tealStyle {
      height: 7.4rem;
      width: 100%;
      font-size: 2.5rem;
      letter-spacing: -0.5px;
      line-height: 3rem;
      padding: 1.7rem 0;
    }
  }

  @include min(desktop) {
    // &.hasMobileText {
    //   .mobileText {
    //     display: none;
    //   }
    // }
  }
}
