.defaultBtn {
  color: white;
  background-color: var(--tertiary-color);
  @include flex-align(center, center);
  height: 4.8rem;
  border-radius: 0.4rem;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: var(--semi-bold);
  padding: 1rem;
  text-align: center;
  width: 100%;
  transition: ease all 0.15s;

  &:hover {
    background-color: #262626;
  }

  &.grayStyle {
    color: #000;
    background-color: #fff;
    border: 2px solid #efefef;

    &:hover {
      background-color: var(--color-20);
    }
  }

  &.blackStyle {
    @include max(tablet) {
      height: 7.4rem;
      width: 100%;
      font-size: 2.4rem !important;
      letter-spacing: -0.5px;
      line-height: 3rem;
    }
    width: 18rem;
    max-width: 100%;
  }

  &.tealStyle {
    width: 13.6rem;
    max-width: 100%;
    background-color: var(--primary-color);

    &:hover {
      background-color: #0a9ead;
    }
  }

  &.wideStyle {
    @include max(tablet) {
      height: 7.4rem;
      width: 100%;
      font-size: 2.5rem;
      letter-spacing: -0.5px;
      line-height: 3rem;
    }
    width: 22rem;
    max-width: 100%;
  }

  &.roundStyle {
    @include max(tablet) {
      height: 7.4rem;
      width: 100%;
      font-size: 2.5rem;
      letter-spacing: -0.5px;
      line-height: 3rem;
    }
    width: 15rem;
    max-width: 100%;
    border-radius: 3rem;
  }

  &.pricingStyle {
    width: 12.6rem;
    max-width: 100%;
    height: 4rem;
    border: 2px solid transparent;
    padding: 0.8rem 1.1rem;
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
    background-color: transparent;

    &.activeStyle {
      border: 2px solid var(--primary-color);
      background-color: #fff;
      color: #000;
    }
  }

  &.activeBlogItem {
    border-color: var(--primary-color);
    &:after {
      content: '';
      width: calc(100% + 12px);
      height: calc(100% + 12px);
      left: -6px;
      top: -6px;
      position: absolute;
      border-radius: 30px;
      border: 4px solid rgba(0, 185, 203, 0.2);
      z-index: -1;
    }
  }

  &.bigStyle {
    line-height: 4rem;
    font-weight: 500;
    letter-spacing: -0.05rem;
  }
}
