.container {
  @include flex-direction(column);

  .firstRow {
    @include flex-direction(column);

    @include min(tablet) {
      flex-direction: row;
      @include flex-align(center, space-between);
      margin-bottom: 7rem;
    }

    .textContainer {
      @include min(tablet) {
        max-width: 55rem;
        margin-right: 5.2rem;
        h2 {
          margin-bottom: 1.6rem;
        }

        p {
          font-size: var(--body-style-one);
          line-height: var(--body-style-one-line-height-size);
        }
      }
    }

    .imageContainer {
      max-width: 54rem;
    }
  }

  .secondRow {
    @include flex-direction(column);

    @include min(tablet) {
      flex-direction: row;
      justify-content: space-between;
      margin-right: 4rem;
    }

    > div {
      max-width: 26.3rem;

      > div:nth-child(2) {
        h5 {
          margin-right: 1rem;
        }

        p {
          height: 15rem;
          @include flex-align(center, center);
        }
      }
    }
  }

  &.moreCards {
    .secondRow {
      margin: 0;
    }
  }
}
