.container {
  .textWrapper {
    height: 12rem;
    width: 88rem;
    font-weight: 600;
    font-size: 5.3rem;
    letter-spacing: -1px;
    line-height: 6rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10rem;
  }

  .featuresContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 7rem;
  }
}
