.formWrapper {
  @include flex-direction(column);

  @include min(mobile) {
    flex-direction: row;
    margin: 0 auto;
  }

  @include max(tablet) {
    > button {
      width: 100% !important;
      margin-top: 2rem;
    }
  }

  > input {
    margin-right: 1.2rem;
  }
}
