.card {
  display: flex;
  font-weight: 700;

  .cardIconWrapper {
    padding: 1rem 1.6rem 1rem 0;
  }

  .cardIcon {
    height: 4rem;
    min-width: 4rem;
  }

  .textWrapper {
    display: flex;
    flex-direction: column;

    .cardTitle {
      color: #000000;
      font-size: 2.5rem;
      font-weight: 600;
      letter-spacing: -0.05rem;
      line-height: 3rem;

      &.hasDescr {
        height: fit-content;
        width: 42rem;
        font-size: 3.2rem;
        line-height: 4rem;
        margin-right: -2rem;
      }
    }

    .paragraph {
      margin-top: 0.8rem;
      max-width: 50rem;
      height: 9rem;
      font-weight: 500;
      font-size: 2rem;
      letter-spacing: 0;
      line-height: 30px;
    }
  }
}
