.card {
  display: flex;
  height: min-content;

  @include max(tablet) {
    margin: 0.5rem 0;
  }

  .iconWrapper {
    margin: 0.8rem 1.6rem 0 0;
    height: 4rem;
    width: 4rem;

    i {
      width: 4rem;
      height: 4rem;
      background-color: rgba(0, 185, 203, 0.1);
      @include flex-align(center, center);
      border-radius: 100%;
      color: var(--primary-color);
    }
  }

  .cardIcon {
    height: 4rem;
    min-width: 4rem;
  }

  .textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .paragraph {
      margin-top: 0.8rem;
      max-width: 50rem;
      height: 9rem;
    }
  }

  &.hasDescr {
    .iconWrapper {
      margin-top: 0;
    }
  }

  &.small {
    align-items: flex-start;
    .iconWrapper {
      margin-top: 0;
      margin-right: 1rem;
    }
    i {
      width: 2.4rem;
      height: 2.4rem;
      background-color: unset;
    }

    .textWrapper {
      .cardTitle {
        font-size: 2rem;
        line-height: 2rem;
        font-weight: var(--medium);
        letter-spacing: -0.5px;
      }
    }
  }

  &.big {
    .textWrapper {
      .cardTitle {
        max-width: 42rem;
        font-size: 3.2rem;
        line-height: 4rem;
        letter-spacing: -0.05rem;
      }
    }
  }
}
