.container {
  @include flex-direction(column-reverse);

  @include min(tablet) {
    flex-direction: row;
    justify-content: space-between;
  }

  &.swap {
    @include min(tablet) {
      @include flex-direction(row-reverse);
    }
  }

  .firstBox {
    max-width: 68rem;
    .titleContainer {
      margin-bottom: 5rem;
    }

    .listStyle {
      .triggerItemWrap {
        @include flex-direction(row);
        align-items: center;
        width: 100%;

        h5 {
          letter-spacing: -0.05rem;
          width: 100%;

          margin: 0 2rem 0 1rem;

          @include min(tablet) {
            margin: 2.3rem 5.6rem 2.3rem 1.8rem;
          }
        }

        > i {
          font-size: 2.4rem;
          width: 2.4rem;
          height: 2.4rem;
          transition: ease all 0.15s;
        }
      }

      p {
        margin: 2rem 1rem;

        @include min(tablet) {
          margin: 0 7.2rem 3.2rem 1.8rem;
        }
      }
    }

    .listStyle:last-child {
      > div {
        &:last-child {
          border-bottom: 2px solid #efefef;
        }
      }
    }
  }

  .secondBox {
    max-width: 40rem;
    @include flex-align(center, center);
  }
}
