.container {
  display: flex;
  justify-content: space-between;

  &.swap {
    flex-direction: row-reverse;

    .leftBox {
      margin-left: 9.6rem;
    }
  }

  .leftBox {
    @include flex-align(center, center);
    flex-direction: column;
    margin-left: 3.5rem;
    max-width: 31.5rem;

    .iconWrapper {
      width: 100%;
      margin-bottom: 2.2rem;
      display: flex;
      justify-content: flex-start;
    }
  }

  .imageWrapper {
    border-top-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
  }

  @include max(mobile) {
    flex-direction: column-reverse;
    padding: 0 2rem;

    &.swap {
      flex-direction: column-reverse;

      .leftBox {
        margin-left: 0;
      }
    }

    .imageWrapper {
      border-top-left-radius: 5rem;
      border-bottom-right-radius: 5rem;
      margin-bottom: 3rem;
    }

    .leftBox {
      margin-left: 0;
      max-width: 100%;
    }
  }
}
