.container {
  width: 100%;

  .iconWrapper {
    @include flex-align(flex-end, center);
    width: 12rem;
    height: 12rem;
    margin: 0 auto;
    margin-bottom: 2.4rem;

    &.round {
      justify-content: flex-start;
      padding: 0;
      margin-bottom: 4rem;

      img {
        width: 25rem;
        height: 25rem;
      }
    }

    &.bigImageStyle {
      @include flex-align(center, center);
      width: unset;
      height: unset;

      @include min(tablet) {
        justify-content: flex-start;
      }
    }
  }

  .textWrapper {
    width: 35rem;
    margin: 0 auto;
    text-align: center;

    h4 {
      margin-bottom: 1.2rem;
    }

    &.leftAligned {
      text-align: left;
    }
  }
}
