.questionsContainer {
  @include min(tablet) {
    margin: 0 12rem;
  }

  .listStyle {
    box-sizing: border-box;
    margin-bottom: 1rem;

    @include min(tablet) {
      padding: 0 5rem;
      margin-top: -1rem;
      margin-bottom: 0;
    }
  }
}
