.draggerWrapper {
  @include flex-direction(column);
  max-width: 100%;
  width: 100rem;
  position: relative;
  padding: 8rem 0 0;
  margin: 2rem auto 0;

  // @include max(tablet) {
  //   display: none;
  // }
}

.draggerResults {
  @include max(tablet) {
    @include absolute(left 50% top 0);
    transform: unset !important;
    margin-left: -8.5rem;
    height: unset;
    border: 2px solid var(--primary-color);
  }

  padding: 1.4rem 1.2rem;
  width: 17rem;
  margin-bottom: 1rem;
  border-radius: 5rem;

  @include min(laptop) {
    @include absolute(left -9.25rem top 0);
    background: url('@images/bubble-icon.png') no-repeat center;
  }
  background-size: 97% auto;
  height: 7rem;
  cursor: grab;

  h5 {
    color: #000;
    text-align: center;
  }
}

.plansWrapper {
  flex-direction: column;
  max-width: 100rem;
  margin: 3rem auto 0;
  justify-content: center;
  background-image: url('@images/pricing-dots@2x.png');
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
  @include min(laptop) {
    @include flex-direction(row);
    margin-top: 7rem;
  }

  .planCard {
    border: 0.2rem solid #efefef;
    width: 33rem;
    background-color: #fff;
    border-radius: 0.8rem;
    padding: 3.6rem 4rem 3rem;
    @include flex-direction(column);
    margin: 0 0 3rem;
    @include min(laptop) {
      margin: 0 5rem;
    }

    h6 {
      color: var(--primary-color);
      font-weight: 500;
    }

    .pricingValue {
      @include flex-direction(row);
      align-items: center;

      .currency {
        line-height: 4rem;
        font-size: 3.2rem;
        font-weight: 400;
        margin-right: 0.8rem;
      }

      h2 {
        width: auto;
        margin-right: 1.2rem;
      }

      .plan {
        line-height: 3rem;
        font-size: 1.8rem;
      }
    }
  }
}
