.container {
  display: flex;

  .textContainer {
    margin-top: 17.5rem;
    flex-basis: 30%;
  }

  .serviceList {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-basis: 70%;
  }
}
