.container {
  @include flex-direction(column);
  padding: 0 1rem;

  @include min(tablet) {
    padding: 0;
    flex-direction: row;
  }

  .textContainer {
    @include min(tablet) {
      margin-top: 17.5rem;
    }
    flex-basis: 30%;
  }

  .serviceList {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-basis: 64%;
    margin-left: auto;
  }
}
