.teamActivityContainer {
  max-width: 114rem;
  margin: 0 auto;

  .readyMadeTitle {
    p {
      @include min(tablet) {
        font-size: 2.6rem;
        line-height: 3rem;
      }
    }
  }

  .roundImagesContainer {
    > div {
      margin-bottom: 2rem;
    }

    @include min(tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 4.5rem;

      > div {
        margin-bottom: 0;
      }
    }

    @include min(desktop) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      > div {
        margin-bottom: 0;
      }
    }
  }

  .learnMoreContainer {
    @include flex-align(center, center);
    flex-wrap: wrap;

    @include min(tablet) {
      justify-content: space-between;
    }

    @include min(desktop) {
      display: grid;
      grid-auto-flow: column;
    }

    > div {
      @include max(tablet) {
        margin-bottom: 1rem;
      }
    }

    @include max(tablet) {
      max-width: 90%;
      margin: 0 auto;
      > div {
        margin-bottom: 3rem;
      }
    }
  }

  .checkListContainer {
    @include min(tablet) {
      margin: 0 8.5rem;
    }
  }
}
