.learnMoreContainer {
  display: grid;

  @include min(tablet) {
    margin-top: 6.5rem;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.2rem;
  }

  @include max(laptop) {
    display: flex;
    grid-template-columns: unset;
    justify-content: center;
    row-gap: 1.2rem;
    flex-wrap: wrap;
  }
}

.buttonContainer {
  margin-top: 2rem;
  @include flex-align(center, center);

  > button {
    width: 26rem;
    height: 7.4rem;
    font-size: 3.2rem;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 4rem;
    text-align: center;
  }
}
