.videoContainer {
  display: flex;
  justify-content: space-between;
  position: relative;

  @include min(tablet) {
    margin: 0;
    height: 48.9rem;
    // padding: 4.5rem 0;
  }

  .videoBackground {
    @include absolute(top 9.4rem);
    background-image: url('@images/grey-copy@2x.png');
    background-position: center;
    background-size: contain;
    width: 11.8rem;
    height: 30.1rem;
    z-index: -1;
    &.rightAligned {
      right: 0;
    }
    &.leftAligned {
      left: 0;
    }
    @include max(mobile) {
      display: none;
    }
  }

  .videoPlaceholder {
    max-width: 100%;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    background-color: #fff;

    @include min(tablet) {
      height: 48.9rem;
      width: 96rem;
    }
  }

  .playIcon {
    @include flex-align(center, center);
    position: absolute;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    cursor: pointer;
    transition: 0.1s ease-in-out;

    @include min(tablet) {
      width: 14rem;
      height: 14rem;
    }

    i {
      @include max(tablet) {
        font-size: 8rem !important;
      }

      color: var(--primary-color);
      transition: 0.1s ease-in-out;
      z-index: 100;
    }

    &:hover {
      opacity: 1;
      i {
        transform: scale(1.1);
      }
    }
  }

  .watchButton {
    @include max(tablet) {
      display: none;
    }

    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;

    button {
      background-color: #ffffff;
      color: var(--tertiary-color);
      font-weight: var(--medium);
      box-shadow: 2px 6px 28px 0px rgba(0, 0, 0, 0.08);
      transition: 0.1s ease-in-out;
    }

    &:hover {
      button {
        transform: scale(1.05);
      }
    }
  }
}
