.imageContainer {
  display: flex;
  justify-content: space-between;
  height: 48.9rem;
  position: relative;

  @include min(tablet) {
    margin: 0;
    padding: 4.5rem 0;
  }

  .videoBackground {
    @include max(mobile) {
      display: none;
    }
  }

  .videoPlaceholder {
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.5);
    border: 2px solid #efefef;
    border-radius: 16px;
    opacity: 0.25;

    @include min(tablet) {
      margin: 0 auto;
      position: absolute;
      left: 8.9rem;
      right: 8.9rem;
      top: 0;
      bottom: 0;
    }
  }

  .imagePlayer {
    @include flex-align(center, center);
    position: absolute;
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    cursor: pointer;

    i {
      color: var(--primary-color);
      z-index: 100;

      &:hover {
        transition: 0.1s ease-in-out;
        transform: scale(1.1);
      }
    }
  }

  .watchButton {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);

    button {
      background-color: #ffffff;
      color: var(--tertiary-color);
      font-weight: var(--medium);
      box-shadow: 2px 6px 28px 0px rgba(0, 0, 0, 0.08);
    }
  }
}
