.imageContainer {
  display: flex;
  position: relative;
  padding: 4.5rem 0;
  margin: 7rem 0;

  .videoBackground {
    width: 100%;
  }

  .videoPlaceholder {
    border: 2px solid #efefef;
    border-radius: 16px;
    margin: 0 auto;
    position: absolute;
    left: 8.9rem;
    right: 8.9rem;
    top: 0;
    bottom: 0;
    opacity: 0.2;
  }

  .imagePlayer {
    @include flex-align(center, center);
    position: absolute;
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    cursor: pointer;

    i {
      color: var(--primary-color);
      z-index: 100;

      &:hover {
        transition: 0.1s ease-in-out;
        transform: scale(1.1);
      }
    }
  }

  .watchButton {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);

    button {
      background-color: #ffffff;
      color: var(--tertiary-color);
      font-weight: var(--medium);
      box-shadow: 2px 6px 28px 0px rgba(0, 0, 0, 0.08);
    }
  }
}
