.container {
  @include flex-direction(column-reverse);

  @include min(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &.swap {
    @include min(tablet) {
      flex-direction: row-reverse;
    }

    .secondBlock {
      justify-content: flex-start;
    }
  }

  .textWrapper {
    @include flex-direction(column);
    justify-content: center;

    @include min(tablet) {
      width: 56rem;
    }

    p {
      margin-top: 0.4rem;
      font-size: var(--body-style-two);
      line-height: var(--body-style-two-line-height-size);
      letter-spacing: -0.5px;
    }

    .descr2 {
      margin-bottom: 4rem;
    }
  }

  .secondBlock {
    @include flex-align(center, flex-end);

    @include min(tablet) {
      width: 50%;
    }

    .imageWrapper {
      margin-bottom: 2rem;

      @include min(tablet) {
        margin-bottom: 0;
        height: 60rem;
        max-width: 50rem;
      }

      > svg {
        @include max(mobile) {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
