.container {
  position: relative;
  @include flex-direction(column);
  justify-content: center;

  &.homepage {
    > div input {
      border: 2px solid #000000;
      border-radius: 4px;
      background-color: #ffffff;
    }
  }

  &.productPage {
    color: var(--gray);

    > div input {
      border: 2px solid var(--color-20);
      border-radius: 4px;
    }

    > div button {
      font-size: 2rem;
      background-color: var(--color-1);

      &:hover {
        background-color: #0a9ead;
      }
    }
  }

  .checkItems {
    @include flex-direction(column);
    margin: 0 2rem;

    @include min(mobile) {
      flex-direction: row;
      margin-left: 0;
      margin-right: 0;
    }

    justify-content: center;
    margin-top: 1.3rem;

    .itemWrapper {
      @include min(mobile) {
        margin-right: 0.9rem;
      }
      @include flex-align(center, flex-start);
      &:last-child {
        margin-right: 0;
      }

      i {
        width: 2.4rem;
        @include flex-align(center, center);
        height: 2.4rem;
        font-size: 1rem;
        color: #06b8b7;
      }

      span {
        font-size: 1.5rem;
        line-height: 1.5rem;
      }
    }
  }
}
