.container {
  position: relative;
  @include flex-direction(column);
  justify-content: center;
  align-items: center;

  &.homepage {
    > form > div {
      // FIXME Need to delete this below if otherwise
      > div:focus-within {
        &:before {
          content: none !important;
        }
      }
      // FIXME Need to delete this above if otherwise

      input {
        border: 2px solid #000000;
        border-radius: 4px;
        background-color: #ffffff;

        &:focus {
          border-color: var(--primary-color);
          box-shadow: none; // FIXME Need to comment this if otherwise
        }
      }
    }

    .checkItems {
      justify-content: space-between;

      @include max(mobile) {
        justify-content: space-between;
      }
    }
  }

  &.productPage {
    color: var(--gray);

    > form > div input {
      border: 2px solid var(--color-20);
      border-radius: 4px;

      &:focus {
        border-color: var(--primary-color);
        box-shadow: none;
      }
    }

    > div button {
      background-color: var(--color-1);

      &:hover {
        background-color: #0a9ead;
      }

      @include min(tablet) {
        font-size: 2rem;
      }
    }
  }

  .checkItems {
    @include flex-direction(row);
    margin: 0 2.1rem;
    margin-top: 1.3rem;

    @include max(mobile) {
      width: 100%;
      flex-direction: row;
      margin: 1.3rem 0;
      justify-content: space-between;
      padding: 0;
      flex-wrap: wrap;
    }

    .itemWrapper {
      @include flex-align(center, flex-start);
      @include min(mobile) {
        margin-left: 0;
        margin-right: 0.9rem;
      }
      &:last-child {
        margin-right: 0;
      }

      i {
        width: 2.4rem;
        @include flex-align(center, center);
        height: 2.4rem;
        font-size: 1rem;
        color: #06b8b7;
      }

      span {
        font-size: 1.5rem;
        line-height: 1.5rem;
      }

      @include max(mobile) {
        // width: 50%;
        margin-bottom: 1rem;
        margin-right: 1rem;
      }

      // &:nth-child(2) {
      //   @include max(mobile) {
      //     display: none;
      //   }
      // }
    }

    .errorMsgStyle {
      color: #e05656;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.5rem;
      margin-top: 0.4rem;
      width: 43rem;
      max-width: 100%;
    }
  }
}
