.container {
  @include flex-direction(column);
  position: relative;
  border: 2px solid red;

  .textContainer {
    @include flex-direction(column);
    margin-bottom: 4rem;
    margin-top: 3.1rem;

    @include max(tablet) {
      text-align: center;
    }

    .iconWrapper {
      margin-bottom: 2rem;
      width: 5.2rem;
      height: 6.2rem;

      @include max(tablet) {
        align-self: center;
      }
    }

    .textWrapper {
      max-width: 36.5rem;
    }
  }

  .topImage {
    position: absolute;
    width: 73.6rem;
    height: 46.3rem;
    border: 2px solid purple;
    right: 0;

    @include max(tablet) {
      display: none;
    }
  }

  .imagesContainer {
    border: 2px solid blue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include min(tablet) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 3.2rem;
      margin-right: 5.4rem;
    }

    .imageBox1,
    .imageBox2,
    .imageBox3 {
      height: 773px;
      border-top-right-radius: 10rem;
      border-bottom-left-radius: 10rem;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
      border: 2px solid yellow;
    }

    .imageBox1 {
    }

    .imageBox2 {
      margin-top: 19.2rem;
    }

    .imageBox3 {
      margin-top: 8.6rem;
      @include max(tablet) {
        display: none;
      }
    }
  }
}
