.container {
  @include flex-direction(column);
  position: relative;

  .textContainer {
    @include flex-direction(column);
    margin-bottom: 4rem;
    margin-top: 3.1rem;

    @include max(mobile) {
      text-align: center;
      margin-top: 27rem;
      margin-bottom: 5rem;
    }

    @include custom-max(350) {
      margin-top: 20rem;
    }

    .iconWrapper {
      margin-bottom: 2rem;
      width: 5.2rem;
      height: 6.2rem;

      @include max(mobile) {
        align-self: center;
      }
    }

    .textWrapper {
      max-width: 36.5rem;
    }
  }

  .topImage {
    z-index: -1;
    position: absolute;
    right: 0;

    @include min(tablet) {
      max-width: 40rem;
    }

    @include min(laptop) {
      max-width: 73.6rem;
    }
  }

  .secondtopImage {
    z-index: -1;
    position: absolute;
    max-width: 73.6rem;
    right: 0;
    top: 51.7rem;
    @include max(mobile) {
      display: none;
    }
  }

  .imagesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include min(tablet) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 3.2rem;
      margin-right: 5.4rem;
    }

    .imageBox1 {
      max-height: 88.2rem;
    }

    .imageBox2 {
      margin-top: 4.7rem;

      @include min(tablet) {
        margin-top: 15.2rem;
      }
      @include min(laptop) {
        margin-top: 22.2rem;
      }
    }

    .imageBox3 {
      z-index: 1;

      @include max(mobile) {
        display: none;
      }

      @include min(tablet) {
        margin-top: 0.6rem;
      }

      @include min(laptop) {
        margin-top: 5.6rem;
      }
    }
  }

  &.nonIndustry {
    .imagesContainer {
      .imageBox2 {
        @include min(tablet) {
          margin-top: 55rem;
        }
      }

      .imageBox3 {
        @include min(tablet) {
          margin-top: 30rem;
        }
      }
    }
  }
}
