.container {
  width: 100%;
  display: grid;
  row-gap: 2rem;

  @include min(tablet) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4.5rem;
    row-gap: 0;

    &.gapStyle {
      row-gap: 10rem;
    }
  }
}
