.headerContainer {
  height: 7.3rem;
  @include flex-align(center, flex-start);
  flex-direction: row;
  padding: 1.3rem 0;
  margin-bottom: 7rem;

  a {
    font-size: 2rem;
    text-decoration: none;
    color: #000;
    margin-right: 3rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.leftNav {
  margin-right: 6.5rem;
}

.menuLinks {
  @include flex-direction(row);
}

.rightNavButtons {
  margin-left: auto;
}
