.headerContainer {
  height: 7.3rem;
  @include flex-align(center, flex-start);
  flex-direction: row;
  padding: 1.3rem 0;
  margin-bottom: 7rem;
  position: relative;

  .rightNavButtons > a,
  .menuLinks > a {
    font-size: 2rem;
    line-height: 2rem;
    text-decoration: none;
    color: var(--color-3);
    margin-right: 3rem;
    letter-spacing: -0.05rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.leftNav {
  margin-right: 6.5rem;
}

.menuLinks {
  @include flex-direction(row);
}

.rightNavButtons {
  margin-left: auto;
}

// Menu Styling and logic here

.menu {
  @include absolute(left 0 top 8.8rem);
  width: 100%;
  // min-height: 45rem;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  overflow: hidden;

  .menuSection {
    @include flex-direction(row);
    .leftItems {
      @include flex-direction(column);
      padding: 7.6rem;
      flex-grow: 1;
      width: 66.66667%;

      .headedItem {
        p {
          font-size: var(--body-style-five);
          line-height: var(--body-style-five-line-height-size);
          font-weight: var(--regular);
          color: #999999;
          letter-spacing: var(--body-style-five-letter-spacing);
        }
      }

      > hr {
        height: 2px;
        background-color: #efefef;
        width: 100%;
        opacity: 1;
        border: 0;
      }

      .subItems {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6rem;
        row-gap: 4rem;
      }
    }

    .rightItems {
      width: 33.333334%;
      padding: 7.7rem 6rem;
      background-color: #f7f7f7;

      h6 {
        margin-bottom: 2.5rem;
      }

      ul {
        width: 100%;
        li {
          height: 3rem;
          @include flex-direction(row);
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 2rem;
          width: 100%;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            font-size: var(--body-style-four);
            line-height: var(--body-style-three-line-height-size);
            letter-spacing: var(--body-style-four-letter-spacing);
            color: #000;
          }
        }
      }
    }
  }

  .menuItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6rem;
    row-gap: 4rem;
  }

  .menuItem {
    @include flex-direction(row);
    align-items: center;
    margin-right: 0;
    // text-decoration: none;
    color: #000;
    .menuIcon {
      min-width: 6rem;
      width: 6rem;
      height: 6rem;
      @include flex-align(center, center);
      transition: ease all 0.15s;
      background-color: rgba(0, 185, 203, 0.1);
      border-radius: 0.4rem;
      margin-right: 1.6rem;

      &.gray {
      }
    }

    .menuItemDesc {
      flex-grow: 1;
      h6 {
        margin-bottom: 0.4rem;
        font-weight: 500;
      }
      p {
        font-size: var(--body-style-five);
        line-height: var(--body-style-five-line-height-size);
        letter-spacing: var(--body-style-five-letter-spacing);
        color: #999999;
      }
    }

    &:hover {
      cursor: pointer;
      .menuIcon {
        background-color: rgba(0, 185, 203, 0.35);
      }
    }
  }

  &.resourcesMenu {
    left: 21rem;
    width: unset;
    .menuItems {
      display: flex;
      flex-direction: column;

      .menuItem {
        width: 27.6rem;
      }
    }
  }

  .contentPadding {
    padding: 7.6rem;
  }

  &.fullWidth {
    width: 100%;
    @include flex-direction(row);
  }

  &.scoped {
  }
}
