.container {
  align-items: center;
  @include flex-direction(column-reverse);
  @include min(tablet) {
    flex-direction: row;
    // padding-bottom: 6.6rem;
  }

  @include min(tablet) {
    height: 73rem;
  }

  &.other {
    height: unset;
  }

  .firstBox {
    max-width: 60rem;

    @include min(laptop) {
      margin: 3.6rem 4rem 3.6rem 0;
    }

    .smallTitleStyle {
      color: var(--primary-color);
      font-size: var(--h6-line-height-size);
      line-height: var(--h6-line-height-size);
      font-weight: 500;
      letter-spacing: var(--body-style-one-letter-spacing);
    }

    .descr {
      margin-top: 1.6rem;
      @include min(tablet) {
        font-size: var(--body-style-one);
        font-weight: var(--body-style-one-font-weight);
        letter-spacing: -0.5px;
        line-height: var(--body-style-one-line-height-size);
      }
      margin-bottom: 4rem;
    }

    h1 {
      margin-top: 1.2rem;
      margin-bottom: 2rem;

      @include min(tablet) {
        margin-bottom: 3rem;
      }

      &.hasDescr {
        margin-bottom: 0;
      }
    }

    .listContainer {
      > div {
        @include max(laptop) {
          row-gap: 0;
        }

        > div {
          @include max(tablet) {
            margin-bottom: 2rem;
          }

          > div:first-child {
            width: 2.8rem;
            height: 2.8rem;
            margin-right: 1rem;

            @include min(laptop) {
              margin-right: 0;
            }

            > i {
              width: 2.8rem;
              height: 2.8rem;
              margin-right: 1.4rem;
              font-size: 1rem;
            }
          }

          &:last-child {
            @include max(tablet) {
              margin-bottom: 0;
            }
          }
        }

        h5 {
          font-size: var(--body-style-three);
          font-weight: 400;
        }
      }
    }

    .emailContainer {
      width: 100%;
      margin-top: 2rem;

      @include min(tablet) {
        margin-top: 4rem;
        max-width: 48.2rem;
      }

      > div {
        > div {
          margin-left: 0;
          margin-right: 0;
          justify-content: flex-start;
          &:last-child {
            justify-content: center;
          }
        }
      }
    }
  }

  .secondBox {
    max-width: 50rem;
  }
}
