.container {
  @include flex-align(center, flex-start);
  border: 1px solid #efefef;
  height: 16rem;
  width: calc(50% - 2.4rem);
  margin: 1.2rem;
  padding: 0 2rem 0 3.2rem;
  .textContainer {
    .cardNumber {
      font-size: 1.5rem;
      line-height: 1.5rem;
      color: #999999;
      margin-top: -1.7rem;
      display: inline-flex;
    }

    .cardTitle {
      height: 4rem;
      font-weight: 600;
      font-size: 2.5rem;
      letter-spacing: -0.05rem;
      line-height: 4rem;
    }
  }

  .imageWrapper {
    width: 9rem;
    height: 9rem;
    @include flex-align(center, center);
    margin-left: auto;

    i {
      color: #e5e5e5;
    }
  }
}
