.container {
  @include flex-align(center, center);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #e6f8fa;
  margin-bottom: 1rem;
  height: 10rem;

  @include min(tablet) {
    margin-bottom: 0rem;
    justify-content: flex-start;
    height: 12.7rem;
    width: 36.4rem;
  }

  .iconWrapper {
    @include flex-align(center, center);
    height: 6rem;
    width: 6rem;
    padding: 1.6rem;
    margin-right: 1rem;
    margin-left: 2rem;
  }

  .textContainer {
    @include flex-align(center, flex-start);
    height: 6rem;
    max-width: 19rem;
    width: calc(50% + 6.4rem);
  }
}
