.container {
  text-align: center;
  @include flex-direction(column);
  align-items: center;
  margin: 0 1rem;

  @include min(tablet) {
    margin: 0 12rem;
  }

  button {
    font-size: 2rem;
  }

  .headerContainer {
    margin-bottom: 2rem;

    @include min(tablet) {
      margin-bottom: 5rem;
    }

    .smallParagraph {
      color: var(--primary-color);
      margin-bottom: 1.2rem;
      font-weight: 500;
    }

    .mainTitle {
      margin-bottom: 0.8rem;
    }

    .paragraphStyle {
      font-size: var(--body-style-one-mobile-size);
      line-height: var(--body-style-one-mobile-line-height);
      font-weight: var(--body-style-one-font-weight);
      text-align: center;
      margin: auto;

      @include min(tablet) {
        font-size: var(--body-style-one);
        letter-spacing: -0.5px;
        line-height: var(--body-style-one-line-height-size);
      }
    }
  }
}
